<!DOCTYPE html>
<html ng-app="names">
<head>
	<title>AngularJS First Application</title>
	<meta charset="utf-8" />
</head>
<body>
	<div class="" ng-controller="controller_one">
		<h1>Names</h1>
		<ul>
			<li ng-repeat="names in simple_names">{{ names }}</li>
		</ul>

		<h1>Heroes</h1>
		<ul>
			<li ng-repeat="hero in heroes">{{ hero.firstname }} {{ hero.lastname }} <a href={{hero.action}}>Ir aqui</a></li>
		</ul>
	</div>
	
	<script type="text/javascript" src="js/angular.min.js"></script>

	<script type="text/javascript">
		angular.module('names', [])
	       .controller('controller_one', ['$scope', function($scope){

	       	$scope.simple_names = ["Alejandro", "Patrick", "Bolson"];

            $scope.heroes = [
                {
                    firstname: "Alejandro",
                    lastname: "Romero",
                    action: "index.php"
                },
                {
                    firstname: "Diego",
                    lastname: "Pan",
                    action: "index.php"
                },
                {
                    firstname: "Filly",
                    lastname: "Rest",
                    action: "index.php"
                },
                {
                    firstname: "Jimmy",
                    lastname: "Lagp",
                    action: "index.php"
                },
                {
                    firstname: "Yopo",
                    lastname: "Rom",
                    action: "index.php"
                },
                {
                    firstname: "Sara",
                    lastname: "Rome",
                    action: "index.php"
                }
            ];
	       }])
	</script>


</body>
</html>